# `envsubst` template.
# Context: http

charset     utf-8;

# Enketo Express
server {
    listen 9005;

    access_log  /var/log/nginx/enketo_express.access.log;
    error_log   /var/log/nginx/enketo_express.error.log;

    client_max_body_size 100M;

    location / {
        proxy_pass  http://enketo_express:8005/;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr ;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for ;
    }
}

# ODK Aggregate
server {
    listen      9006;

    client_max_body_size 100M;

    location / {
        proxy_pass  http://odkaggregate:8080/;
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr ;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for ;
    }
}

# GeoServer
server {
    listen      9007;

    client_max_body_size 100M;

    location / {
        proxy_pass  http://geoserver:8080/;
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr ;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for ;
    }
}

